/* content */
#content {
    height: 100%;
    position: relative;
}

/* tabnav */
ul.tabnav li {
    float: left;
    display: inline;
}
.tabnav li a {
    background-color: #ccffcc;
    color: #666;
    display: block;
    height: 48px;
    width: 184px;
    line-height: 48px;
    font-weight: bold;
    float: left;
    text-decoration: none;
}
a#meet {
    background: url(../image/sprite-trans.png?eee) no-repeat 0 0;
}
a#meet:hover {
    background: url(../image/sprite-trans.png?eee) no-repeat -188px 0;
}
a#meet:active {
    background: url(../image/sprite-trans.png?eee) no-repeat -379px 0;
}
a#season {
    background: url(../image/sprite-trans.png?eee) no-repeat 0 -58px;
}
a#season:hover {
    background: url(../image/sprite-trans.png?eee) no-repeat -189px -58px;
}
a#season:active {
    background: url(../image/sprite-trans.png?eee) no-repeat -379px -58px;
}
a#dating {
    background: url(../image/sprite-trans.png?eee) no-repeat 0 -116px;
}
a#dating:hover {
    background: url(../image/sprite-trans.png?eee) no-repeat -189px -116px;
}
a#dating:active {
    background: url(../image/sprite-trans.png?eee) no-repeat -379px -116px;
}
a#total-rank {
    background: url(../image/sprite-trans.png?eee) no-repeat 0 -174px;
}
a#total-rank:hover {
    background: url(../image/sprite-trans.png?eee) no-repeat -189px -174px;
}
a#total-rank:active {
    background: url(../image/sprite-trans.png?eee) no-repeat -379px -174px;
}

.tabnav li a.active,
.tabnav li a:hover {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    _position:relative;
}
#content .tabnav{
    height: 48px;
    _overflow:hidden;
}

/*arrow*/
.top-arrow {
    display: block;
    overflow: hidden;
    width: 17px;
    height: 8px;
    position: absolute;
    top: 40px;
    left: 83px;
    background: url(../image/sprite-trans.png?eee) no-repeat -380px -230px;
}

/* panels */
.panels {
    width: 100%;
    height: 419px;
    background: url(../image/background.png?eee) no-repeat #ffffd8;
}
.panels .panel {
    width:100%;
    height: 100%;
    display: none;
}
.panels .active {
    display: block;
}

/*task*/
.panel .task {
    height: 288px;
    width: 100%;
    background: url(../image/meeting.png?eee) no-repeat;
}

/* panel-middle */
.panel-middle {
    height: 20px;
    width: 97%;
    background-color: #ecfaba;
    border-top: 1px solid #dbed9a;
    font-weight: bold;
    color: #2e5305;
    text-align: left;
    line-height: 20px;
    padding-left: 3%;
}
.panel-middle > span {
    color: #69a41d;
    font-weight: normal;
    float: right;
    padding-right: 20px;
}

/*ranks*/
.panel .ranks {
    height: 110px;
    width: 100%;
}
.ranks .rank {
    border-right: 1px solid #e4eccd;
    width: 244px;
    height: 100%;
    float: left;
    position: relative;
}
.rank ul {
    position: relative;
    top: 20px;
    left: 7px;
    padding: 0 20px 10px 10px;
}
.rank li {
    height: 26px;
    line-height: 26px;
}
.img-no1 {
    width: 24px;
    height: 24px;
    background: url(../image/sprite-trans.png?eee) no-repeat -3px -300px;
    position: relative;
    left: -20px;
}
.img-no2 {
    width: 24px;
    height: 24px;
    background: url(../image/sprite-trans.png?eee) no-repeat -35px -300px;
    position: relative;
    left: -20px;
}
.img-no3 {
    width: 24px;
    height: 24px;
    background: url(../image/sprite-trans.png?eee) no-repeat -67px -300px;
    position: relative;
    left: -20px;
}
.no1 {
    color: #d62870;
    vertical-align: top;
    left: -15px;
    position: relative;
}
.no2, .no3 {
    color: #69a41d;
    vertical-align: top;
    left: -15px;
    position: relative;
}
.number {
    float: right;
}
.star {
    background: url(../image/sprite-trans.png?eee) no-repeat -67px -275px;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    right: 10px;
}
.sweet {
    background: url(../image/sprite-trans.png?eee) no-repeat -37px -275px;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    right: 10px;
}
.king {
    background: url(../image/sprite-trans.png?eee) no-repeat -6px -275px;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    right: 10px;
}
#zuijia .label{
    width: 70px;
    height: 42px;
    background: url(../image/sprite-trans.png?eee) no-repeat -2px -229px;
    position: absolute;
    z-index: 2;
}
#renqi .label{
    width: 70px;
    height: 42px;
    background: url(../image/sprite-trans.png?eee) no-repeat -77px -229px;
    position: absolute;
    z-index: 2;
}
#jiechu .label{
    width: 70px;
    height: 42px;
    background: url(../image/sprite-trans.png?eee) no-repeat -148px -229px;
    position: absolute;
    z-index: 2;
}

/* total-rank */
.total-rank-header {
    width: 100%;
    height: 60px;
    background: url(../image/header-bg.png?eee) repeat-x;
}
.total-rank-header ul{
    height: 100%;
    padding-left: 15px;
}
.total-rank-header ul li {
    float: left;
    width: 136px;
    height: 32px;
    line-height: 32px;
    padding: 14px 3px;
}
.total-rank-header ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #2e5305;
}
.total-rank-header ul li a.active,
.total-rank-header ul li a:hover {
    background: url(../image/sprite-trans.png?eee) no-repeat -229px -229px;
    color: #ffffff;
}
.total-rank-panel {
    width: 100%;
    height: 302px;
    border-top: 1px solid #c3df8f;
    border-bottom: 1px solid #ecfaba;
}
.total-rank-panel > div {
    display: none;
}
.total-rank-panel > div.active {
    height: 100%;
    display: block;
}
.panel-left {
    width: 332px;
    height: 100%;
    border-right: 1px solid #c3df8f;
}
.panel-right {
    width: 411px;
    height: 100%;
}
.panel-left ul {
    padding-top: 28px;
    height: 240%;
}
.panel-left ul li {
    height: 48px;
}
.panel-left ul li a {
    height: 48px;
    line-height: 48px;
    text-align: left;
}
.panel-left ul li a.active,
.panel-left ul li a:hover {
    background: url(../image/sprite-trans.png?eee) no-repeat -231px -274px;
    width: 332px;
    z-index: 2;
}
.panel-left-a > span.icon{
    left: 30px;
    top: 8px;
}
.panel-left-a > span.field{
    left: 35px;
}
.panel-left-a > span.star{
    right: 35px;
    top: 13px;
}
.panel-left-a > span.number{
    position: relative;
    right: 25px;
}
/*tip*/
div.tip{
    position: absolute; /*leave this and next 3 values alone*/
    z-index: 1000;
    left: -1000px;
    top: -1000px;
    background: #272727;
    border: 10px solid black;
    color: white;
    padding: 3px;
    width: 250px; /*width of tooltip*/
}
