<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <title>三月春天之约</title>
    <script language="javascript" type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/common.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/main.js"></script>
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie6.css"/>
    <script language="javascript" type=”text/javascript” src="js/iepngfix_tilebg.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <!--[if IE 7]>
    <script language="javascript" type="text/javascript" src="js/IE7.js"></script>
    <![endif]-->
</head>
<body>
<input type="hidden" id="c_showday" value="{{showday}}"/>
<input type="hidden" id="topcid" value="{{topcid}}"/>
<div class="wrapper">
    <div id="content">
        <ul class="tabnav nostyle">
            <li><a href="#" id="meet" name="meet" class="active" ></a></li>
            <li><a href="#" id="season" name="season"></a></li>
            <li><a href="#" id="dating" name="dating"></a></li>
            <li><a href="#" id="total-rank" name="total-rank"></a></li>
        </ul>
        <div class="top-arrow"></div>
        <div class="panels">
            {% if day_star %}
                {% for day, level in day_star.iteritems()%}
                <div id="dpac_{{ day }}" class="tip" style="display:none;">
                    <span class="fontStyle">主播当天获得了<span style="color: #d62870;">{{level}}</span>颗星星</span>
                    <ul>
                        {% if day_player_contribute_rank and day in day_player_contribute_rank and day_player_contribute_rank[day] %}
                        {% for info in day_player_contribute_rank[day] %}
                        <li>
                            <span class="img-no1 ib"></span>
                            <span class="no1 ib">{{info[0]|e|truncate(7,True)}}</span>
                            <span class="number ib">x{{info[1]}}</span>
                            <span class="king ib"></span>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li style="line-height: 78px; color: #69a41d;">暂时无人上榜</li>
                        {% endif %}
                    </ul>
                </div>
                {% endfor %}
            {% endif %}

            <p class="task-status">
                [{{uid}}]的每日任务状态:
            </p>

            {% for i in range(0, 3) %}
                {% if 0 == i %}
                <div class="panel active" name="meet">
                {% endif %}
                {% if 1 == i %}
                <div class="panel" name="season">
                {% endif %}
                {% if 2 == i %}
                <div class="panel" name="dating">
                {% endif %}

                {% if 0 == i %}
                <div class="task-meeting">
                {% endif %}
                {% if 1 == i %}
                <div class="task-season">
                {% endif %}
                {% if 2 == i %}
                <div class="task-dating">
                {% endif %}
                {% for j in range(i * 7, i * 7 + 7) %}
                {% if query_days[j] > endday %}
                    <a class="circle-candy{{j%7 + 1}}" name="dpac_{{query_days[j]}}"></a>
                {% endif %}
                {% if query_days[j] < endday %}
                    <a class="circle-candy{{j%7 + 1}} finishing" name="dpac_{{query_days[j]}}"  href="javascript:void(0);" onclick="showPlayerContribute('{{query_days[j]}}')">
                        {% if day_star and query_days[j] in day_star %}
                        <span class="star-number ib">{{day_star[query_days[j]]}}</span>
                        {% endif %}
                        {% if not day_star or query_days[j] not in day_star %}
                        <span class="star-number ib">0</span>
                        {% endif %}
                    </a>
                {% endif %}
                {% if query_days[j] == endday %}
                    <a class="circle-candy{{j%7 + 1}} processing" name="dpac_{{query_days[j]}}"  href="javascript:void(0);" onclick="showPlayerContribute('{{query_days[j]}}')"></a>
                {% endif %}
                {% endfor %}
                </div>

                <div class="panel-middle">
                    <span>更新时间:{{update_time}}</span>
                    {% if day_in_str %}
                        {% for key, day_str in day_in_str.iteritems() %}
                            <span id="day_str_{{key}}" class="date"
                            {% if showday != key %}style="display:none;"{% endif %}>{{day_str}}
                            </span>
                        {% endfor %}
                    {% endif %}
                    {{topcid}}房间排行榜
                </div>

                <div class="ranks">
                    <div class="zuijia rank">
                        <div class="label"></div>
                        {% if day_auth_rank %}
                            {% for j in range(i * 7, i * 7 + 7) %}
                                <ul class="dpac_{{query_days[j]}}" {% if query_days[j] != showday %} style="display:none;" {% endif %}>
                                    {% if query_days[j] in day_auth_rank and day_auth_rank[query_days[j]] %}
                                    {% for info in day_auth_rank[query_days[j]] %}
                                    <li>
                                        <span class="img-no1 ib"></span>
                                        <span class="no1 ib">{{info[0]|e|truncate(7, True)}}</span>
                                        <span class="number ib">x{{info[1]}}</span>
                                        <span class="star ib"></span>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li style="text-align: center;line-height: 78px;color: #69a41d;">暂时无人上榜</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="renqi rank">
                        <div class="label"></div>
                        {% if day_auth_popu_rank %}
                            {% for j in range(i * 7, i * 7 + 7) %}
                                    <ul class="dpac_{{query_days[j]}}" {% if query_days[j] != showday %} style="display:none;" {% endif %}>
                                        {% if query_days[j] in day_auth_popu_rank and day_auth_popu_rank[query_days[j]] %}
                                        {% for info in day_auth_popu_rank[query_days[j]] %}
                                        <li>
                                            <span class="img-no1 ib"></span>
                                            <span class="no1 ib">{{info[0]|e|truncate(7,True)}}</span>
                                            <span class="number ib">x{{info[1]}}</span>
                                            <span class="sweet ib"></span>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li style="text-align: center;line-height: 78px;color: #69a41d;">暂时无人上榜</li>
                                        {% endif %}
                                    </ul>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="jiechu rank">
                        <div class="label"></div>
                        {% if day_player_room_contribute %}
                            {% for j in range(i * 7, i * 7 + 7) %}
                                    <ul class="dpac_{{query_days[j]}}" {% if query_days[j] != showday %} style="display:none;" {% endif %}>
                                        {% if query_days[j] in day_player_room_contribute and day_player_room_contribute[query_days[j]] %}
                                        {% for info in day_player_room_contribute[query_days[j]] %}
                                        <li>
                                            <span class="img-no1 ib"></span>
                                            <span class="no1 ib">{{info[0]|e|truncate(7,True)}}</span>
                                            <span class="number ib">x{{info[1]}}</span>
                                            <span class="king ib"></span>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li style="text-align: center;line-height: 78px;color: #69a41d;">暂时无人上榜</li>
                                        {% endif %}
                                    </ul>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                </div>
            {% endfor %}

            <div class="panel" name="total-rank">
                <div class="total-rank-header">
                    <ul>
                        <li><a href="#" class="total-rank-nav active" id="nav1">活动最佳主播</a></li>
                        <li><a href="#" class="total-rank-nav" id="nav2">活动人气主播</a></li>
                        <li><a href="#" class="total-rank-nav" id="nav3">最强粉丝榜</a></li>
                        <li><a href="#" class="total-rank-nav" id="nav4">最佳主播总榜</a></li>
                        <li><a href="#" class="total-rank-nav" id="nav5">粉丝贡献总榜</a></li>
                    </ul>
                </div>
                <div class="total-rank-panel">
                    <div class="nav1 active">
                        <div class="panel-left-outer"></div>
                        <div class="panel-left">
                            <ul>
                                <li>
                                    <a href="#" class="panel-left-a active">
                                        <span class="icon img-no1 ib"></span>
                                        <span class="number ib"></span>
                                        <span class="star ib"></span>
                                        <span class="field no1 ib"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="panel-left-a">
                                        <span class="icon img-no2 ib"></span>
                                        <span class="number ib"></span>
                                        <span class="star ib"></span>
                                        <span class="field no2 ib"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="panel-left-a">
                                        <span class="icon img-no3 ib"></span>
                                        <span class="number ib"></span>
                                        <span class="star ib"></span>
                                        <span class="field no3 ib"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="panel-left-a">
                                        <span class="icon img-no4 ib"></span>
                                        <span class="number ib"></span>
                                        <span class="star ib"></span>
                                        <span class="field no1 ib"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="panel-left-a">
                                        <span class="icon img-no5 ib"></span>
                                        <span class="number ib"></span>
                                        <span class="star ib"></span>
                                        <span class="field no1 ib"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-right">
                            <div class="exponent1">
                                <div class="icon-cc"></div>
                                <p></p>
                                <div>
                                    <span class="ib img-heart"></span>
                                    <span class="exp"></span>
                                </div>
                            </div>
                            <div class="exponent2">
                                <div class="icon-cc"></div>
                                <p></p>
                                <div>
                                    <span class="ib img-heart"></span>
                                    <span class="exp"></span>
                                </div>
                            </div>
                            <div class="exponent3">
                                <div class="icon-cc"></div>
                                <p></p>
                                <div>
                                    <span class="ib img-heart"></span>
                                    <span class="exp"></span>
                                </div>
                            </div>
                            <div class="bg-panel-right"></div>
                        </div>
                    </div>
                    <div class="nav3">
                        <div class="exponent1">
                            <div class="icon-cc"></div>
                            <p></p>
                            <div>
                                <span class="ib img-heart"></span>
                                <span class="exp"></span>
                            </div>
                        </div>
                        <div class="exponent2">
                            <div class="icon-cc"></div>
                            <p></p>
                            <div>
                                <span class="ib img-heart"></span>
                                <span class="exp"></span>
                            </div>
                        </div>
                        <div class="exponent3">
                            <div class="icon-cc"></div>
                            <p></p>
                            <div>
                                <span class="ib img-heart"></span>
                                <span class="exp"></span>
                            </div>
                        </div>
                        <div class="exponent4">
                            <div class="icon-cc"></div>
                            <p></p>
                            <div>
                                <span class="ib img-heart"></span>
                                <span class="exp"></span>
                            </div>
                        </div>
                        <div class="exponent5">
                            <div class="icon-cc"></div>
                            <p></p>
                            <div>
                                <span class="ib img-heart"></span>
                                <span class="exp"></span>
                            </div>
                        </div>
                        <div class="bg-nav3">
                        </div>
                    </div>
                </div>
<!--                <div class="total-rank-footer">
                    我的排行：当前榜单排名第<span class="ranking">xx</span>名
                </div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
